# development
.DS_STORE
.idea

# composer
/vendor/
composer.lock

# specification
resources/specification/*
!resources/specification/openapi.json

# test coverage
tests/coverage

# examples
resources/examples/config.php